# Systemd service unit for turbovanityurls.
# This is part of Application Builder.
# https://github.com/golift/application-builder

[Unit]
Description=turbovanityurls - Go Vanity URL Server
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/turbovanityurls $DAEMON_OPTS
EnvironmentFile=-/etc/default/turbovanityurls
EnvironmentFile=-/etc/sysconfig/turbovanityurls
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=turbovanityurls
Type=simple

# These should be set correctly for your environment.
UMask=0002
User=turbovanityurls
Group=turbovanityurls

[Install]
WantedBy=multi-user.target
